<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar este usuario", edit_user_path(@user), class: "btn btn-info" %> |
  <%= link_to "Volver a usuarios", users_path, class: "btn btn-success" %>

  <%= button_to "Borrar este usuario", @user, method: :delete, class: "btn btn-error" %>
</div>
