<% content_for :title, "Editando respuesta" %>


<%= form_with(model: [@problem, @answer], class: "space-y-6 p-6 bg-base-100 shadow-md rounded-lg max-w-2xl mx-auto") do |form| %>
  <% if @answer.errors.any? %>
    <div class="alert alert-error text-white">
      <div>
        <h2 class="font-bold text-lg">
          <%= t :error, count: @answer.errors.count %> impidieron que esta respuesta pueda ser guardada:
        </h2>
        <ul class="list-disc list-inside mt-2">
          <% @answer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- Correct Checkbox -->
  <div class="form-control">
    <%= form.label :correct, class: "label label-text font-semibold" %>
    <%= form.check_box :correct, class: "checkbox checkbox-primary" %>
  </div>

  <!-- Answer Text Field -->
  <div class="form-control">
    <%= form.label :answer_text, class: "label label-text font-semibold" %>
    <%= form.text_field :answer_text, class: "input input-bordered w-full" %>
  </div>

  <!-- Submit Button -->
  <div class="form-control">
    <%= form.submit "Guardar Respuesta", class: "btn btn-primary w-full" %>
  </div>
<% end %>

<br>

<div class="text-center space-x-4">
  <%= link_to "Volver a respuestas", problem_answers_path(@problem), class: "btn btn-outline" %>

  <%= link_to "Muestra esta respuesta", problem_answer_path(@problem, @answer), class: "btn btn-info" %>
</div>
