<% content_for :title, "Editing answer" %>

<h1>Editing answer</h1>

<%= form_with(model: [@problem, @answer]) do |form| %>
  <% if @answer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% @answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :correct, style: "display: block" %>
    <%= form.checkbox :correct %>
  </div>
  <div>
    <%= form.label :answer_text, style: "display: block" %>
    <%= form.text_field :answer_text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this answer", problem_answer_path(@problem, @answer) %> |
  <%= link_to "Back to answers", problem_answers_path(@problem) %>
</div>
