<% content_for :title, "Editando respuesta" %>

<h1>Editando respuesta</h1>

<%= form_with(model: [@problem, @answer]) do |form| %>
  <% if @answer.errors.any? %>
    <div style="color: red">
      <h2><%= t :error, count: @answer.errors.count %> impidieron que esta respuesta pueda ser guardada:</h2>

      <ul>
        <% @answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :correct, style: "display: block" %>
    <%= form.checkbox :correct %>
  </div>
  <div>
    <%= form.label :answer_text, style: "display: block" %>
    <%= form.text_field :answer_text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Muestra esta respuesta", problem_answer_path(@problem, @answer) %> |
  <%= link_to "Volver a respuestas", problem_answers_path(@problem) %>
</div>
