<p style="color: green"><%= notice %></p>

<% content_for :title, "Respuestas" %>

<h1>Respuestas para el problema <%= @problem.title %></h1>

<div id="answers">
  <% @answers.each do |answer| %>
    <%= render answer %>
    <p>
      <%= link_to "Muestra esta respuesta", problem_answer_path(answer.problem, answer) %>
    </p>
  <% end %>
</div>

<%= link_to "Volver a problema", @problem %>
