<p style="color: green"><%= notice %></p>

<%= render @answer %>

<div>
  <%= link_to "Editar respuesta", edit_problem_answer_path(@answer.problem, @answer) %> |
  <%= link_to "Volver a respuestas", problem_answers_path(@answer.problem) %>

  <%= button_to "Borrar respuesta", problem_answer_path(@answer.problem, @answer), method: :delete %>
</div>
