<p style="color: green"><%= notice %></p>

<%= render @answer %>

<div>
  <%= link_to "Edit this answer", edit_problem_answer_path(@answer.problem, @answer) %> |
  <%= link_to "Back to answers", problem_answers_path(@answer.problem) %>

  <%= button_to "Destroy this answer", problem_answer_path(@answer.problem, @answer), method: :delete %>
</div>
