<div id="<%= dom_id problem %>">
  <p>
    <strong>Title:</strong>
    <%= problem.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= problem.content %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= problem.correct_answer %>
  </p>

  <p>
    <strong>Lock time:</strong>
    <%= problem.lock_time %>
  </p>

  <p>
    <strong>Unlock time:</strong>
    <%= problem.unlock_time %>
  </p>

</div>
