<p style="color: green"><%= notice %></p>

<% content_for :title, "Problemas" %>

<h1>Problemas</h1>
<%= link_to "Ranking", ranking_by_year_path(@year)%>

<div id="problems">
  <% @problems.each do |problem| %>
    <p>
      <%= link_to problem.title, problem %>
    </p>
  <% end %>
</div>
<%= link_to "Volver a selección de año", root_path%>
<% if can? :manage, @problem %> |
<%= link_to "Nuevo problema", new_problem_path %>
<% end %>
