<p style="color: green"><%= notice %></p>

<%= render @problem %>

<% if can? :create, Answer %>
  <% if Answer.user_has_correct_answer current_user, @problem%>
    <p> Respuesta correcta! </p>
  <% else %>
    <%= render "answers/form" %>
  <% end %>

<% else %>
  <%= link_to "Login to answer", login_path %>
<% end %>

<div>
  <%= link_to "Back to problems", problems_by_year_path(@problem.unlock_time.year) %> 
  <% if can? :manage, @problem %> |
  <%= link_to "Edit this problem", edit_problem_path(@problem) %> |
  <%= link_to "See answers", problem_answers_path(@problem) %>
  <%= button_to "Destroy this problem", @problem, method: :delete %>
  <% end %>
</div>
