
<%= render @problem %>

<% if can? :create, Answer %>
  <% if Answer.user_has_correct_answer? current_user.id, @problem.id%>
    <p> Respuesta correcta! </p>
  <% else %>
    <p><%= notice %></p> <!-- Para que salga el mensaje de respuesta -->
    <%= render "answers/form" %>
  <% end %>

<% else %>
  <%= link_to "Inicia Sesión para responder", login_path %>
<% end %>

<div>
  <%= link_to "Volver a problemas", problems_by_year_path(@problem.unlock_time.year) %> 
  <% if can? :manage, @problem %> |
  <%= link_to "Editar este problema", edit_problem_path(@problem) %> |
  <%= link_to "Ver respuestas", problem_answers_path(@problem) %>
  <%= button_to "Borrar este problema", @problem, method: :delete %>
  <% end %>
</div>
