<p style="color: green"><%= notice %></p>

<h1>Years</h1>
<% if current_user %>
  <p>Welcome, <%= current_user.username %>!</p>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>
<div id="years">
  <% @years.each do |year| %>
    <p>
      <%= link_to year, problems_by_year_path(year) %>
    </p>
  <% end %>
</div>