<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Años</h1>

<div id="years">
  <% @years.each do |year| %>
    <p>
      <%= link_to year, problems_by_year_path(year) %>
    </p>
  <% end %>
</div>
<% if can? :manage, @problem %>| GESTIÓN | <br/>
  <%= link_to "Nuevo problema", new_problem_path %>
<% end %>
<% if can? :manage, @users %> |
  <%= link_to "Usuarios", users_path %>
<% end %>