<%= link_to "Volver a problemas", problems_by_year_path(@year), class: "btn btn-outline mt-4 ml-4"%>
<div class="flex flex-col content-center items-center mt-8">

  <div>
    <h2 class="text-xl">Rankings para <%= @year %></h2>
  </div>

  <% if @ranking.empty? %>
    <div>
      <p>No hay datos para el año <%= @year %>.</p>
    </div>
  <% else %>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Posición</th>
            <th>Nombre de Usuario</th>
            <th>Problemas Completados</th>
            <th>Tiempo total</th>
            <th>Tiempo medio por problema</th>
          </tr>
        </thead>
        <tbody>
          <% @ranking.each do |entry| %>
          <% if entry[:user] === current_user.username %>
          <tr class="bg-base-200">
            <% else %>
            <tr >

            <% end %>
            
              <td >
                <span >
                  <%= entry[:position] %>
                </span>
              </td>
              <td >
                <strong><%= entry[:user] %></strong>
              </td>
              <td >
                <span ><%= entry[:problems_completed] %></span>
              </td>
              <td >
                <%= format_duration(entry[:total_time_seconds]) %>
              </td>
              <td >
                <%= format_duration(entry[:average_time_per_problem]) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
      <div class="card bg-base-100 shadow-md p-4 rounded-lg">
        <h3 class="text-lg font-semibold text-primary">Participantes Totales</h3>
        <p class="text-2xl font-bold"><%= @ranking.size %></p>
      </div>
      
      <div class="card bg-base-100 shadow-md p-4 rounded-lg">
        <h3 class="text-lg font-semibold text-primary">Total de problemas Completados</h3>
        <p class="text-2xl font-bold"><%= @ranking.sum { |r| r[:problems_completed] } %></p>
      </div>

      <div class="card bg-base-100 shadow-md p-4 rounded-lg">
        <h3 class="text-lg font-semibold text-primary">Media de problemas por usuario</h3>
        <p class="text-2xl font-bold"><%= (@ranking.sum { |r| r[:problems_completed] }.to_f / @ranking.size).round(1) %></p>
      </div>
    </div>
  <% end %>
</div>